<a href="https://colab.research.google.com/github/JacekPardyak/tb-data-science-talks/blob/master/2022-07-28/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Three and higher dimensional plots

In [4]:
install.packages('plotly')
install.packages('rgl')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Let's use Customer data

In [5]:
library(tidyverse)
df <- read_csv("https://raw.githubusercontent.com/JacekPardyak/tb-data-science-talks/master/2022-07-28/mall_customers.csv") %>%
  rename(AnnualIncome = 'Annual Income (k$)') %>%
  rename(SpendingScore = 'Spending Score (1-100)')
df %>% head()

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 200 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Gender
dbl (4): CustomerID, Age, Annual Income (k$), Spending Score (1-100)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  CustomerID Gender Age AnnualIncome SpendingScore
1 1          Male   19  15           39
2 2          Male   21  15           81
3 3          Female 20  16            6
4 4          Female 23  16           77
5 5          Female 31  17           40
6 6          Female 22  17           76

In [6]:
summary(df)

   CustomerID        Gender               Age         AnnualIncome
 Min.   :  1.00   Length:200         Min.   :18.00   Min.   : 15.00
 1st Qu.: 50.75   Class :character   1st Qu.:28.75   1st Qu.: 41.50
 Median :100.50   Mode  :character   Median :36.00   Median : 61.50
 Mean   :100.50                      Mean   :38.85   Mean   : 60.56
 3rd Qu.:150.25                      3rd Qu.:49.00   3rd Qu.: 78.00
 Max.   :200.00                      Max.   :70.00   Max.   :137.00
 SpendingScore
 Min.   : 1.00
 1st Qu.:34.75
 Median :50.00
 Mean   :50.20
 3rd Qu.:73.00
 Max.   :99.00

## 2D: Spending Score vs Annual Income

In [7]:
library(plotly)

fig <- plot_ly(df, x = ~AnnualIncome, y = ~SpendingScore) %>% add_markers() %>%
 layout(scene = list(xaxis = list(title = 'Annual Income (k$)'),
                     yaxis = list(title = 'Spending Score (1-100)')))

htmlwidgets::saveWidget(as_widget(fig), "/tmp/2d_index.html")

Attaching package: ‘plotly’


The following object is masked from ‘package:ggplot2’:

    last_plot


The following object is masked from ‘package:stats’:

    filter


The following object is masked from ‘package:graphics’:

    layout

## 3D: Spending Score vs Annual Income vs Age

In [8]:
fig <- plot_ly(df, x = ~AnnualIncome, y = ~SpendingScore, z = ~Age) %>%
  add_markers() %>% layout(scene = list(xaxis = list(title = 'Annual Income (k$)'),
                                   yaxis = list(title = 'Spending Score (1-100)'),
                                   zaxis = list(title = 'Age')))
htmlwidgets::saveWidget(as_widget(fig), "/tmp/3d_index.html")

## 4D: Spending Score vs Annual Income vs Age vs Gender

In [9]:
fig <- plot_ly(df, x = ~AnnualIncome, y = ~SpendingScore, z = ~Age, color = ~Gender, colors = c('#BF382A', '#0C4B8E')) %>%
  add_markers() %>% layout(scene = list(xaxis = list(title = 'Annual Income (k$)'),
                                   yaxis = list(title = 'Spending Score (1-100)'),
                                   zaxis = list(title = 'Age')))
htmlwidgets::saveWidget(as_widget(fig), "/tmp/4d_index.html")

## 5D: Spending Score vs Annual Income vs Age vs Gender vs CustomerID parity

In [10]:
fig <- plot_ly(df, x = ~AnnualIncome, y = ~SpendingScore, z = ~Age, color = ~Gender, colors = c('#BF382A', '#0C4B8E'), type="scatter3d", mode = 'markers',
        marker = list(size = ~50 * (CustomerID %% 2 + 1), opacity = 0.5) ) %>%
 layout(scene = list(xaxis = list(title = 'Annual Income (k$)'),
                                   yaxis = list(title = 'Spending Score (1-100)'),
                                   zaxis = list(title = 'Age')))
htmlwidgets::saveWidget(as_widget(fig), "/tmp/5d_index.html")

## 1D: Question
?Audience? - propose a 1D plot for this data

# Let's use Customer data
## Plot surface

In [11]:
df <- read_csv("https://raw.githubusercontent.com/JacekPardyak/tb-data-science-talks/master/2022-07-28/mall_sales.csv") %>%
  mutate(Date = as.POSIXct(Date, format = "%m/%d/%Y"))
df %>% head()

Rows: 1000 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): Invoice ID, Branch, City, Customer type, Gender, Product line, Dat...
dbl  (8): Unit price, Quantity, Tax 5%, Total, cogs, gross margin percentage...
time (1): Time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Invoice ID  Branch City      Customer type Gender Product line
1 750-67-8428 A      Yangon    Member        Female Health and beauty
2 226-31-3081 C      Naypyitaw Normal        Female Electronic accessories
3 631-41-3108 A      Yangon    Normal        Male   Home and lifestyle
4 123-19-1176 A      Yangon    Member        Male   Health and beauty
5 373-73-7910 A      Yangon    Normal        Male   Sports and travel
6 699-14-3026 C      Naypyitaw Normal        Male   Electronic accessories
  Unit price Quantity Tax 5%  Total    Date       Time     Payment     cogs
1 74.69      7        26.1415 548.9715 2019-01-05 13:08:00 Ewallet     522.83
2 15.28      5         3.8200  80.2200 2019-03-08 10:29:00 Cash         76.40
3 46.33      7        16.2155 340.5255 2019-03-03 13:23:00 Credit card 324.31
4 58.22      8        23.2880 489.0480 2019-01-27 20:33:00 Ewallet     465.76
5 86.31      7        30.2085 634.3785 2019-02-08 10:37:00 Ewallet     604.17
6 85.39      7        29.8865 627.6165 2019-03-25 18:30:00 Ewallet     597.73
  gross margin percentage gross income Rating
1 4.761905                26.1415      9.1
2 4.761905                 3.8200      9.6
3 4.761905                16.2155      7.4
4 4.761905                23.2880      8.4
5 4.761905                30.2085      5.3
6 4.761905                29.8865      4.1

In [12]:
surface <- df %>% select(Date, Time) %>% mutate(Hour = lubridate::hour(Time)) %>% mutate(Wday = lubridate::wday(Date)) %>% count(Hour, Wday) %>% arrange(Wday) %>%
  pivot_wider(names_from = Wday, values_from = n) %>%
  arrange(Hour) %>% column_to_rownames('Hour') %>% as.matrix()
surface

   1  2  3  4  5  6  7
10 11 12 16 10 18 18 16
11 11  9 20 12 15 11 12
12 11 14 11 14 11 10 18
13 18 10 13 20 12 16 14
14 13  6 15 10 14 14 11
15 11 18 14 17 12 18 12
16  6 16  9 10 12 10 14
17 11 11  9 10 15  6 12
18 15 11 12 17  9 11 18
19 17  8 28 14 10 13 23
20  9 10 11  9 10 12 14

In [13]:
# surface plotly
plot_ly(x = ~colnames(surface),
        y = ~rownames(surface),
        z = ~surface) %>% add_surface() %>% layout(scene = list(xaxis = list(title = 'Day of week'),
                                   yaxis = list(title = 'Hour of day'),
                                   zaxis = list(title = '# transactions'))) %>% as_widget() %>%
  htmlwidgets::saveWidget("/tmp/sales_plotly.html")

In [15]:
# surface rgl
library(rgl)
zlim <- range(surface, na.rm = T)
zlen <- zlim[2] - zlim[1] + 1
colorlut <- terrain.colors(zlen) # height color lookup table
col <- colorlut[ surface - zlim[1] + 1 ] # assign colors to heights for each point
open3d()
surface %>% 
    surface3d(x = as.numeric(rownames(.)),
              y = as.numeric(colnames(.)),
              color = col, back = "lines")
htmlwidgets::saveWidget(rglwidget(width = 1000, height = 1000), 
    file = "/tmp/sales_rgl.html",
    selfcontained = TRUE)
close3d()

Warning message in rgl.init(initValue, onlyNULL):
“RGL: unable to open X11 display”
Warning message:
“'rgl.init' failed, running with 'rgl.useNULL = TRUE'.”

null
   1

# Surface from spatial data
My work: 
https://upload.wikimedia.org/wikipedia/commons/d/d0/Averaged_NAP_levels_in_2000_meter_grid_cells.gif

# References:

Data sources: 

1.   https://www.kaggle.com/datasets/vjchoudhary7/customer-segmentation-tutorial-in-python
2.   https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales